<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>Username:</label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="username" 
                [placeholder]="yourName" />

            <p>{{ username }}</p>
            <button class="btn btn-success" 
                [disabled]="username === ''" 
                (click)="getClean()">Clean Field
            </button>
        </div>
    </div>
</div> -->